.mobileHeader {
  .mobileHeader__container {
    display: none;
    @media screen and (max-width: 1024px) {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      align-items: center;
      padding: 2.8rem;
      &__icon--menu {
        font-size: 6rem;
        .anticon {
          color: #434343;
        }
      }
      &__icon--cart {
        font-size: 6rem;
        .anticon {
          color: #434343;
        }
      }
      &__logo {
        width: 25rem;
        height: auto;
      }
    }
  }
  .mobileHeader__search__container {
    display: none;
    @media screen and (max-width: 1024px) {
      display: block;
    }
    &--input {
      padding: 1.5rem 2rem 1.2rem 2rem;
      background-color: #efefef;
      .ant-input {
        background-color: #efefef;
        &::placeholder {
          color: #999999;
          font-size: 2.8rem;
          text-transform: uppercase;
          text-align: center;
        }
      }
    }
  }
}

.ant-drawer-body {
  padding: 0;
}
.ant-drawer-title {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.8rem;
  width: 55vw;
  line-height: 5.5rem;
}

.ant-card-head {
  font-size: 4rem;
  font-weight: 400;
  border-bottom: 1px solid;
}
.ant-card-body {
  p {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.mobileMenuFooter__container {
  background-color: #292929;
  padding: 2.4rem;
  &__items {
    list-style-type: none;
    line-height: 7rem;
    &--item {
      color: #fff;
      font-size: 3rem;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  &__footer {
    margin-top: 7rem;
    &--text {
      color: #fff;
      font-size: 3rem;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}
