.homepage-body {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-auto-flow: row;
  gap: 4rem;

  .inspiration-bottom-left {
    margin-bottom: 15rem;
  }
  .product__with__filter {
    margin-top: 15rem;
    margin-bottom: 15rem;
  }
  .neuigkeiten {
    margin-bottom: 15rem;
  }
}
.first-intro {
  margin-top: 30px;
  .first-intro-body {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    gap: 25px;

    .first-intro-bod-left {
      padding: 0 0 0 8.5rem;
      display: grid;
      align-items: center;
      gap: 4.4rem;
      grid-template-rows: 60% 27%;
      .intro-small-txt {
        margin-bottom: 1rem;
      }
      h2 {
        margin: 0;
      }
      @media screen and(max-width: 1300px) {
        gap: 2rem;
      }
      button {
        width: 29.7rem;
        background: #000000;
        border: none;
        outline: none;
        color: white;
        font-size: 2.5rem;
        font-weight: 400;
        padding: 11.5px;
        font-style: normal;
        letter-spacing: 5px;
        text-align: center;
        text-transform: uppercase;
        max-height: 6vh;
        @media screen and(max-width: 1795px) {
          width: fit-content;
        }
      }
      p {
        color: #5c5c5c;
        font-size: 2.19rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 1.7px;
        line-height: normal;
        text-align: left;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 15px;
      }
      h2 {
        color: #3e3e3e;
        font-size: 9.79rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 1px;
        line-height: 79px;
        text-align: left;
        text-transform: uppercase;
        @media screen and(max-width: 1795px) {
          font-size: 8rem;
        }
        @media screen and(max-width: 1510px) {
          line-height: 60px;
          margin-bottom: 3rem;
        }
        @media screen and(max-width: 1270px) {
          font-size: 7rem;
        }
        @media screen and(max-width: 1124px) {
          font-size: 6.5rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
  @media screen and(max-width: 1024px) {
    display: none;
  }
}

.second-section-home {
  width: 100%;
  margin: 0 auto;
  margin-top: 15rem;
  .sec-sect-all {
    width: 90.5%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and(max-width: 1024px) {
      grid-template-columns: unset;
    }

    gap: 40px;
    .sec-sec-el {
      height: auto;
      display: flex;
      flex-direction: column;
      .sec-sec-el-text {
        p {
          margin: 3.1rem 0 1rem 0;
          color: #5c5c5c;
          font-family: 'Freight Sans Pro', system-ui;
          font-size: 2.5rem;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 0.5px;
          text-align: left;
          /* Text style for "Gemutliche" */
          font-style: normal;
          text-transform: uppercase;
          @media screen and(max-width: 1225px) {
            font-size: 2rem;
          }
          //letter-spacing: normal;
        }
        h3 {
          line-height: 6.7rem;
          color: #3e3e3e;
          font-family: 'Freight Sans Pro', system-ui;
          font-size: 5rem;
          font-weight: 300;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.34;
          text-transform: uppercase;
          margin: -1.5rem 0 1rem 0;
          @media screen and(max-width: 1365px) {
            min-height: 133px;
          }
        }
      }
      .sec-sec-el-link {
        margin-top: 5px;
        a {
          color: #a12224;
          font-family: 'Freight Sans Pro', system-ui;
          font-size: 2rem;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 1px;
          line-height: 35px;
          text-align: left;
          /* Text style for "Kollektion" */
          font-style: normal;
          text-decoration: underline;
          text-transform: uppercase;
        }
      }
    }
  }
}

.inspiration-body {
  width: 90.5%;
  margin: 0px auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 75% 25%;
  gap: 10px;
  margin-top: 15rem;
  .inspiration-left {
    position: relative;
    p {
      position: absolute;
      top: -5vw;
      color: #3e3e3e;
      font-family: 'Open Sans Condensed', system-ui;
      font-size: 6vw;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 11px;
      text-align: left;
      text-transform: uppercase;
      font-style: normal;
      z-index: 99;
    }
  }
  .inspiration-right {
    padding: 7.3rem 0 0 4.2rem;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 1370px) {
      padding: 3.3rem 0 0 4.2rem;
    }
    .inspiration-right-headtxt {
      color: #5c5c5c;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 1.19vw;
      font-weight: normal;
      margin: 0;
      font-style: normal;
      letter-spacing: 1.38px;
      text-align: left;
      /* Text style for "Gesichtspf" */
      font-style: normal;
      text-transform: uppercase;
    }
    h2 {
      margin-top: 0.5rem;
      color: #3e3e3e;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 3.125vw;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.92;
      letter-spacing: 2.4px;
      text-align: left;
      text-transform: uppercase;
      width: 120%;
      margin-bottom: 0;
      @media screen and (max-width: 1370px) {
        margin-top: 0.3rem;
      }
    }
    .inspiration-right-bottxt {
      margin: 5rem 0;
      color: #2e2e2e;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 1.145vw;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.59;
      letter-spacing: 0.55px;
      text-align: left;
      /* Text style for "Lorem ipsu" */
      font-style: normal;
      @media screen and (max-width: 1370px) {
        margin: 3rem 0;
      }
    }
    button {
      color: #ffffff;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 1.35vw;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 5px;
      text-align: center;
      text-transform: uppercase;
      font-style: normal;
      text-transform: uppercase;
      padding: 12px 10px;
      background-color: #080808;
      width: 75%;
      border: none;
      @media screen and (max-width: 1725px) {
        width: fit-content;
      }
    }
  }
}
.inspiration-bottom {
  width: 90.5%;
  margin: 0px auto;
  //height: 70vh;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50%;
  margin-top: 10rem;
  .inspiration-bottom-text2 {
    padding: 80px 0 0 40px;
    display: flex;
    flex-direction: column;
    .inspiration-bottom-head-txt {
      margin-bottom: 10px;
      p {
        color: #5c5c5c;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 2.15rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 1.38px;
        text-align: left;
        /* Text style for "Damendufte" */
        font-style: normal;
        margin: 10px auto;
        text-transform: uppercase;
      }
      h2 {
        color: #3e3e3e;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 6rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2.4px;
        line-height: 55px;
        text-align: left;
        font-style: normal;
        text-transform: uppercase;
        width: 80%;
        margin-bottom: 40px;
      }
    }
    span {
      color: #2e2e2e;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 2.2rem;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 0.55px;
      line-height: 35px;
      text-align: left;
      /* Text style for "Lorem ipsu" */
      font-style: normal;
      margin-bottom: 35px;
      display: inline-block;
    }
    .inspiration-bottom-btn {
      width: 36%;
      padding: 10.5px 0px;
      background-color: #080808;
      color: #ffffff;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 2.6rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 5px;
      text-align: center;
      text-transform: uppercase;
      font-style: normal;
      text-transform: uppercase;
      border: none;
      @media screen and(max-width: 1610px) {
        width: fit-content;
        padding: 1rem;
      }
    }
  }
  .inspiration-bottom-text {
    display: flex;
    flex-direction: column;
    padding: 65px 40px 0 0px;
    .inspiration-bottom-head-txt {
      margin-bottom: 10px;
      p {
        color: #5c5c5c;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 2.15rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 1.38px;
        text-align: left;
        /* Text style for "Damendufte" */
        font-style: normal;
        margin: 10px auto;
        text-transform: uppercase;
      }
      h2 {
        color: #3e3e3e;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 6rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2.4px;
        line-height: 55px;
        text-align: left;
        font-style: normal;
        text-transform: uppercase;
        width: 80%;
        margin-bottom: 40px;
      }
    }
    span {
      color: #2e2e2e;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 2.2rem;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 0.55px;
      line-height: 35px;
      text-align: left;
      /* Text style for "Lorem ipsu" */
      font-style: normal;
      margin-bottom: 35px;
      display: inline-block;
    }
    .inspiration-bottom-btn {
      width: 36%;
      padding: 10.5px 0px;
      background-color: #080808;
      color: #ffffff;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 2.6rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 5px;
      text-align: center;
      text-transform: uppercase;
      font-style: normal;
      text-transform: uppercase;
      border: none;
      @media screen and(max-width: 1610px) {
        width: fit-content;
        padding: 1rem;
      }
    }
  }
  .inspiration-bottom-image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 628px;
    .inspiration-bottom-imagetxt {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      bottom: 30px;
      padding: 5px 0;
      .insp-bot-sm {
        width: fit-content;
        padding-left: 10px;
        background-color: #000000;
        color: #ffffff;
        font-family: 'Ivy Presto Display', system-ui;
        font-size: 2.5rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 1.5px;
        text-align: left;
        font-style: normal;

        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
      }
      .insp-bot-lg {
        color: #ffffff;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 6rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2.4px;
        text-align: left;
        /* Text style for "Entdecken" */
        font-style: normal;
        margin: 10px 0;
        text-transform: uppercase;
        background-color: #000000;
        text-align: center;
        padding: 0px 10px;
        width: fit-content;
        line-height: 61px;
      }
    }
    .inspiration-bottom-imagetxt-two {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 15%;

      .insp-bot-lg {
        color: #ffffff;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 6rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2.4px;
        text-align: left;
        /* Text style for "Entdecken" */
        font-style: normal;
        text-transform: uppercase;
        background-color: #000000;
        text-align: center;
        padding: 0px 10px;
        width: fit-content;
        margin: 10px 0;
        line-height: 61px;
      }
    }
  }
}

.filtered-products-body {
  width: 90.5%;
  //height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 85px;
  .products-with-filter-list {
    .first-prod-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      justify-content: flex-end;
      button {
        font-size: 2rem;
      }
      .picture-body-prod {
        position: relative;
        margin-bottom: 5rem;
        .item-picture {
          width: 100%;
        }

        .circled-txt {
          position: absolute;
          bottom: 0%;
          left: -20px;
          @media screen and(max-width:1024px) {
            left: 0;
          }
        }
      }
      .item-new {
        color: #ffffff;
        margin: 0;
        font-size: 1.3rem;
        padding: 0.4rem 1.7rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 2.4px;
        text-align: center;
        font-style: normal;
        text-transform: uppercase;
        background-color: #000000;
      }

      .item-notNew {
        font-size: 1.3rem;
        padding: 4px 15px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 2.4px;
        text-align: center;
        font-style: normal;
        text-transform: uppercase;
        opacity: 0;
      }

      .heart-icon-item {
        position: absolute;
        top: 0vh;
        right: 0;
        margin-right: -1vw;
        stroke: #7b7b7b;
        cursor: pointer;
      }

      button {
        margin-top: 15px;
        width: 182px;
        padding: 10px;
        border: 1px solid #707070;
        background: white;
        transition: 0.5s;
        display: flex;
        align-items: center;

        p {
          color: #2e2e2e;
          font-family: 'Freight Sans Pro', system-ui;
          font-size: 2rem;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 2px;
          text-align: left;
          font-style: normal;
          text-transform: uppercase;
          text-align: center;
          margin: 0;
          padding: 0;
        }

        .letter-svg {
          stroke: #7b7b7b !important;
          transition: 0.5s !important;
        }

        &:hover {
          border: 1px solid #707070;
          background-color: #000000;
          transition: 0.5s;
          cursor: pointer;

          p {
            transition: 0.5s;
            color: #ffffff;
          }

          .letter-svg {
            transition: 0.5s;
            stroke: white !important;
          }
        }
      }

      .prod-txt-head {
        color: #7b7b7b;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 2rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 2.6px;
        //line-height: 35px;
        text-align: center;
        /* Text style for "Clean prod" */
        font-style: normal;
        margin-top: 20px;
        text-transform: uppercase;
      }

      .prod-txt-head2 {
        margin: 10px auto;
        color: #7b7b7b;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 1.7rem;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 0.34px;
        //line-height: 35px;
        text-align: center;
        /* Text style for "Limited ed" */
        font-style: normal;

        text-transform: uppercase;
      }

      .prod-txt-name {
        margin-top: 1.5rem;
        color: #2e2e2e;
        font-family: 'Freight Sans Pro', system-ui;
        margin-bottom: 0;
        font-size: 3.6rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 3.5px;
        text-align: center;
        /* Text style for "Ylumi" */
        font-style: normal;
        text-transform: uppercase;
      }

      .prod-txt-foot {
        color: #2e2e2e;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 2.5rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 1.25px;
        line-height: 35px;
        text-align: center;
        /* Text style for "Energy Kap" */
        font-style: normal;
      }

      .prod-txt-foot2 {
        color: #7b7b7b;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 2rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 2.34px;
        line-height: 35px;
        text-align: center;
        font-style: normal;
        text-decoration: underline;
        text-transform: uppercase;
      }

      .prod-txt-price {
        color: #2e2e2e;
        font-size: 2.8rem;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 1.4px;
        line-height: 35px;
        text-align: center;
        /* Text style for "28,00 \88" */
        font-style: normal;
      }
    }

    .firstprod-left-text {
      display: flex;
      flex-direction: column;
      grid-gap: 10px;
      gap: 45px;
      div {
        p {
          color: #5c5c5c;
          font-size: 2.2rem;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 1.38px;
          text-align: left;
          font-style: normal;
          text-transform: uppercase;
          margin: 0;
          margin-bottom: 22px;
        }

        h2 {
          color: #3e3e3e;
          font-family: 'Freight Sans Pro', system-ui;
          font-size: 6rem;
          font-weight: 400;
          font-style: normal;
          text-align: left;
          letter-spacing: 2.4px;
          margin: 0;
          //line-height: 55px;
          text-align: left;
          /* Text style for "Exklusive" */
          font-style: normal;
          margin-top: 0px;
          text-transform: uppercase;
          line-height: 55px;
        }

        span {
          // margin-top: 57px;
          margin-top: 7px;
          display: inline-block;
          color: #2e2e2e;
          font-size: 22px;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 0.55px;
          line-height: 35px;
          width: 82%;
          text-align: left;
        }
      }

      button {
        border: none;
        width: 58.5%;
        min-height: 50px;
        background-color: #080808;
        color: #ffffff;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 2.6rem;
        font-weight: 400;
        letter-spacing: 5px;
        text-align: center;
        font-style: normal;
        text-transform: uppercase;
        margin-top: 17px;
        padding: 15px;
      }
    }
  }
  .products-with-filter-list {
    display: grid;
    grid-auto-flow: column;
  }
  .products-filter-head-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    h2 {
      color: #3e3e3e;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 6.6rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 3.3px;
      text-align: center;
      /* Text style for "Von uns fu" */
      font-style: normal;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    button {
      color: #3e3e3e;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 2.6rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 2.5px;
      text-align: center;
      font-style: normal;
      text-transform: uppercase;
      font-style: normal;
      text-transform: uppercase;
      border: none;
      outline: none;
      background: transparent;
      cursor: pointer;
    }
    .filter-btns {
      justify-content: space-between;
      width: 30%;
      margin-bottom: 100px;
      display: flex;
      .active-filter {
        text-decoration: underline;
      }
    }
  }
  .first-prod-items {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    .heart-icon-item {
      position: absolute;
      top: 0vh;
      right: 0;
      width: 30px;
      height: 30px;
      stroke: #7b7b7b;
      cursor: pointer;
    }

    .picture-body-prod {
      position: relative;
      margin-bottom: 5rem;
      .item-picture {
        width: 100%;
      }
      .circled-txt {
        position: absolute;
        bottom: 10%;
        left: -20px;
        @media screen and(max-width:1024px) {
          left: 0;
        }
      }
    }
    .item-new {
      color: #ffffff;
      margin: 0;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 0.7rem;
      padding: 5px 10px;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 2.4px;
      text-align: center;
      font-style: normal;
      text-transform: uppercase;
      background-color: #000000;
    }

    button {
      /* Style for "Rechteck 1" */
      width: 192px;
      padding: 10px;
      border: 1px solid #707070;
      background: white;
      transition: 0.5s;
      color: #2e2e2e;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 0.9rem;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 2px;
      text-align: left;
      /* Text style for "Quick shop" */
      font-style: normal;

      text-transform: uppercase;
      text-align: center;
      .letter-svg {
        stroke: #7b7b7b !important;
        transition: 0.5s !important;
      }
      &:hover {
        border: 1px solid #707070;
        background-color: #000000;
        transition: 0.5s;
        color: #ffffff;
        .letter-svg {
          transition: 0.5s;
          stroke: white !important;
        }
      }
    }
    .prod-txt-head {
      margin-top: 20px;
      color: #7b7b7b;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 0.9rem;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 2.6px;
      line-height: 35px;
      text-align: center;
      /* Text style for "Clean prod" */
      font-style: normal;

      text-transform: uppercase;
    }
    .prod-txt-head2 {
      color: #7b7b7b;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 0.7rem;
      //margin: 10px auto;
      font-weight: 600;
      font-style: normal;
      letter-spacing: 0.34px;
      line-height: 35px;
      text-align: center;
      /* Text style for "Limited ed" */
      font-style: normal;

      text-transform: uppercase;
    }
    .prod-txt-name {
      color: #2e2e2e;
      font-family: 'Freight Sans Pro', system-ui;
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 1.5rem;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 3.5px;
      text-align: center;
      /* Text style for "Ylumi" */
      font-style: normal;

      text-transform: uppercase;
    }
    .prod-txt-foot {
      color: #2e2e2e;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 1rem;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 1.25px;
      line-height: 35px;
      text-align: center;
      /* Text style for "Energy Kap" */
      font-style: normal;
    }
    .prod-txt-foot2 {
      color: #7b7b7b;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 0.9rem;
      //margin-top: 10px;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 2.34px;
      line-height: 35px;
      text-align: center;
      /* Text style for "Kapseln" */
      font-style: normal;

      text-decoration: underline;
      text-transform: uppercase;
    }
    .prod-txt-price {
      color: #2e2e2e;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 1.3rem;
      //margin:10px auto ;
      font-weight: 600;
      font-style: normal;
      letter-spacing: 1.4px;
      line-height: 35px;
      text-align: center;
      /* Text style for "28,00 \88" */
      font-style: normal;
    }
  }
}
.prodbotbodall {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    width: 18%;
    padding: 15px 0;
    border: none;
    margin: 100px 0 0 0;
    background-color: #080808;
    @media screen and (max-width: 1650px) {
      width: fit-content;
      padding: 1.5rem;
    }
  }

  .first-product-bottom-body {
    width: 90.5%;
    margin: 0 auto;
    //margin-top: 100px;
    display: grid;
    grid-auto-flow: column;
    gap: 30px;

    .product-bottom-left {
      flex-direction: column;
      .prod-bot-left-img {
        position: relative;
        h2 {
          color: #3e3e3e;
          font-family: 'Ivy Presto Display', system-ui;
          font-size: 5.8vw;
          font-weight: 400;
          font-style: normal;
          letter-spacing: 11px;
          text-align: left;
          /* Text style for "Neuigkeite" */
          font-style: normal;
          text-transform: uppercase;
          position: absolute;
          top: -5vw;
          left: 0px;
          z-index: 99;
        }
      }
      .prod-bod-left-txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          margin: 18px auto;
          margin-top: 25px;
          color: #5c5c5c;
          font-family: 'Freight Sans Pro', system-ui;
          font-size: 2.2rem;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 1.38px;
          text-align: center;
          font-style: normal;
          text-transform: uppercase;
        }
        h2 {
          color: #3e3e3e;
          margin: 0px 0 12px 0;
          font-family: 'Freight Sans Pro', system-ui;
          font-size: 6rem;
          font-weight: 400;
          font-style: normal;
          letter-spacing: 2.4px;
          text-align: center;
          /* Text style for "Parfum des" */
          font-style: normal;

          text-transform: uppercase;
        }
        span {
          color: #2e2e2e;
          font-family: 'Freight Sans Pro', system-ui;
          font-size: 2.2rem;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 0.55px;
          line-height: 35px;
          text-align: center;
          /* Text style for "Lorem ipsu" */
          font-style: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          word-break: break-word;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          margin-bottom: 15px;
        }
        a {
          color: #a12224;
          font-family: 'Freight Sans Pro', system-ui;
          font-size: 2.2rem;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 1px;
          line-height: 35px;
          text-align: center;
          /* Text style for "Mehr lesen" */
          font-style: normal;

          text-decoration: underline;
          text-transform: uppercase;
        }
      }
    }
    .product-bottom-right {
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      margin: 12vw 0 3rem 0;
      .prod-bot-right-img {
        margin-top: 5rem;
      }
      p {
        color: #5c5c5c;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 2.2rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 1.38px;
        text-align: center;
        font-style: normal;
        text-transform: uppercase;
        margin-bottom: 15px;
      }
      h2 {
        color: #3e3e3e;
        margin: 0px 0 10px 0;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 6rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2.4px;
        text-align: center;
        /* Text style for "Parfum des" */
        font-style: normal;

        text-transform: uppercase;
      }
      span {
        color: #2e2e2e;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 2.2rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 0.55px;
        line-height: 35px;
        text-align: center;
        /* Text style for "Lorem ipsu" */
        font-style: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        word-break: break-word;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        margin-bottom: 15px;
      }
      a {
        color: #a12224;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 2.2rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 1px;
        line-height: 35px;
        text-align: center;
        font-style: normal;
        text-decoration: underline;
        text-transform: uppercase;
        padding: 20px 0;
      }
    }
  }
}
.dpab-magazin-all {
  width: 100%;
  margin: 0 auto;
  background-color: #000000;
  .dpab-magazin-body {
    padding: 11vh 0 15vh 0;
    width: 90.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .dpab-magazin-title {
      color: #ffffff;
      font-family: 'Ivy Presto Display', system-ui;
      font-size: 11rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 4px;
      text-align: left;
      text-transform: uppercase;
      /* Text style for "DPAB MAGAZ" */
      font-style: normal;
      text-transform: uppercase;
      margin-bottom: 10vh;
    }
    .dpab-top-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      .dpab-top-section-img {
        width: 100%;
      }
      .dpab-top-section-txt {
        background: white;
        width: 90.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 70px 70px;
        h2 {
          color: #3e3e3e;
          font-size: 4.5rem;
          font-weight: 400;
          font-style: normal;
          letter-spacing: 2.25px;
          text-align: center;
          font-style: normal;
          text-transform: uppercase;
          margin: 0 0 1rem 0;
        }
        p {
          // margin: 20px 0 35px 0;
          color: #5c5c5c;
          font-size: 2.2rem;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 1.38px;
          text-align: center;
          /* Text style for "Gemutliche" */
          font-style: normal;

          text-transform: uppercase;
        }
        span {
          color: #3e3e3e;
          font-family: 'Freight Sans Pro', system-ui;
          font-size: 2.2rem;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 0.55px;
          line-height: 30px;
          text-align: center;
          /* Text style for "Es gibt wo" */
          font-style: normal;
          margin-bottom: 35px;
        }
        a {
          color: #a12224;
          font-family: 'Freight Sans Pro', system-ui;
          font-size: 2rem;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 1px;
          line-height: 35px;
          text-align: center;
          /* Text style for "Mehr lesen" */
          font-style: normal;

          text-decoration: underline;
          text-transform: uppercase;
        }
      }
    }
    .dpab-bottom-section {
      margin-top: 10vh;
      justify-content: space-evenly;
      display: grid;
      grid-auto-flow: column;
      @media screen and(max-width:1024px){
        grid-auto-flow: unset;
      }
      .dpab-bottom-section-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 25px;
        .dpab-bottom-section-left-img-bod {
          width: 100%;
          .dpab-bottom-section-left-img {
            width: 100%;
          }
        }

        .dpab-bottom-section-left-txt {
          width: 90.5%;
          background: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 6rem 5rem;
          height: 100%;
          h2 {
            margin-top: 3vh;
            margin-bottom: 10px;
            color: #3e3e3e;
            font-family: 'Freight Sans Pro', system-ui;
            font-size: 4.5rem;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 2.25px;
            text-align: center;
            text-transform: uppercase;
            font-style: normal;
            text-transform: uppercase;
          }
          p {
            margin-top: 5px;
            color: #5c5c5c;
            font-family: 'Freight Sans Pro', system-ui;
            font-size: 2.5rem;
            font-weight: 300;
            font-style: normal;
            letter-spacing: 1.38px;
            text-align: center;
            /* Text style for "Mehr als e" */
            font-style: normal;

            text-transform: uppercase;
            margin-bottom: 10px;
          }
          span {
            margin-top: 10px;
            color: #3e3e3e;
            font-family: 'Freight Sans Pro', system-ui;
            font-size: 2.2rem;
            text-align: center;
            font-weight: 300;
            font-style: normal;
            letter-spacing: 0.55px;
            line-height: 35px;
            font-style: normal;
            margin-bottom: 1vh;
          }
          a {
            margin-top: 3rem;
            color: #a12224;
            font-family: 'Freight Sans Pro', system-ui;
            font-size: 2rem;
            font-weight: 300;
            font-style: normal;
            letter-spacing: 1px;
            line-height: 35px;
            text-align: center;
            font-style: normal;
            text-decoration: underline;
            text-transform: uppercase;
          }
        }
      }
      .dpab-bottom-section-right {
        display: flex;
        flex-direction: column;
        background: white;
        align-items: center;
        height: 100%;
        padding: 50px;
        .dpab-bottom-section-right-img {
          width: 100%;
          margin-bottom: 3vh;
        }
        h2 {
          color: #3e3e3e;
          font-family: 'Freight Sans Pro', system-ui;
          font-size: 4.5rem;
          font-weight: 400;
          font-style: normal;
          letter-spacing: 2.25px;
          text-align: center;
          text-transform: uppercase;
          font-style: normal;
          text-transform: uppercase;
          margin-bottom: 15px;
        }
        p {
          color: #5c5c5c;
          font-family: 'Freight Sans Pro', system-ui;
          font-size: 2.2rem;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 1.38px;
          text-align: center;
          font-style: normal;
          text-transform: uppercase;
          margin-bottom: 30px;
        }
        span {
          color: #3e3e3e;
          font-family: 'Freight Sans Pro', system-ui;
          font-size: 2.2rem;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 0.55px;
          line-height: 35px;
          text-align: center;
          /* Text style for "Zur Vorste" */
          font-style: normal;
          margin-bottom: 20px;
        }
        a {
          color: #a12224;
          font-family: 'Freight Sans Pro', system-ui;
          font-size: 2rem;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 1px;
          line-height: 35px;
          text-align: center;
          /* Text style for "Mehr lesen" */
          font-style: normal;

          text-decoration: underline;
          text-transform: uppercase;
        }
      }
    }
  }
}
.dpab-bottom-body {
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  .dpab-bot-img {
    width: 100%;
    min-height: 607px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .dpab-bot-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
    h2 {
      width: 55%;
      color: #3e3e3e;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 6rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 2.4px;
      line-height: 70px;
      text-align: center;
      font-style: normal;
      text-transform: uppercase;
      margin-bottom: 5vh;
    }
    p {
      color: #3e3e3e;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 2.5rem;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 0.55px;
      text-align: center;
      /* Text style for "Friedrich-" */
      font-style: normal;
      text-transform: uppercase;
    }
    .dpab-bot-head-bot {
      margin-bottom: 25px;
    }
    .dpab-bot-head-other {
      margin: 0;
      padding: 0;
    }
  }
}
.services-body {
  width: 90.5%;
  margin: 20rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  @media screen and (max-width: 1250px) {
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  }
  .services-item {
    display: grid;
    justify-items: center;
    align-items: end;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
    @media screen and (min-width: 425px) and(max-width: 1250px) {
      width: 60%;
    }
    svg {
      width: 90px;
      margin-bottom: 3rem;
    }
    h2 {
      color: #2e2e2e;
      font-size: 3.5rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 3.5px;
      text-align: center;
      /* Text style for "Kostenlose" */
      font-style: normal;

      text-transform: uppercase;
      margin-bottom: 20px;
      @media screen and (max-width: 1024px) {
        width: 30rem;
      }
    }
    p {
      color: #2e2e2e;
      font-family: 'Freight Sans Pro', system-ui;
      font-size: 2.5rem;
      font-style: normal;
      text-align: center;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: 1.05px;
      margin-bottom: 5rem;
      @media screen and (max-width: 1024px) {
        width: 35rem;
      }
    }
  }
}
.newsletter_all {
  width: 40%;
  flex-direction: column;
  align-items: center;
  h2 {
    color: #3e3e3e;
    font-family: 'Freight Sans Pro', system-ui;
    font-size: 2.2rem;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2.4px;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
  }
  p {
    color: #3e3e3e;
    font-family: 'Freight Sans Pro', system-ui;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.55px;
    text-align: center;
    /* Text style for "Abonnieren" */
    font-style: normal;

    //margin: 50px auto;
    padding: 15px 80px 30px 80px;
  }
  .newsletter_email {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    form {
      width: 100%;
      margin: 0 auto;
      justify-content: space-between;
      .newsletter-email-inp {
        background-color: rgba(0, 0, 0, 0.1);
        border: none;
        padding: 5px 10px;
        color: #3e3e3e;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 1.2rem;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 3px;
        text-align: left;
        /* Text style for "Email adre" */
        font-style: normal;
        margin-right: 30px;
        outline: none;

        &::placeholder {
          color: #3e3e3e;
          font-family: 'Freight Sans Pro', system-ui;
          font-size: 1.2rem;
          font-weight: 500;
          font-style: normal;
          letter-spacing: 3px;
          text-align: left;
          /* Text style for "Email adre" */
          font-style: normal;

          text-transform: uppercase;
        }
      }
      .newsletter-email-sub {
        background-color: #000000;
        color: #ffffff;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 1.2rem;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 3px;
        text-align: center;
        /* Text style for "Senden" */
        font-style: normal;
        padding: 5px 0;
        text-transform: uppercase;
        border: none;
      }
    }
  }
}
.video-body {
  position: relative;
  overflow: hidden;
  height: 633px;
  div {
    height: unset;
  }
  p {
    color: #ffffff;
    font-family: 'Freight Sans Pro', system-ui;
    font-size: 4.8rem;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 2.25px;
    text-align: center;
    /* Text style for "Entdecken" */
    font-style: normal;

    text-transform: uppercase;
    position: absolute;
    top: 53%;
    left: 28vw;
  }
  .playvideohome {
    position: absolute;
    top: 34.5%;
    left: 47.5%;
    cursor: pointer;
    width: 73px;
  }
  .pausevideohome {
    position: absolute;
    top: 33%;
    left: 47%;
    cursor: pointer;
    width: 73px;
  }
}
.bottom-video-body {
  width: 90.5%;
  margin: 0 auto;
  justify-content: space-between;
  display: grid;
  grid-auto-flow: column;
  gap: 70px;
  .video-small-body-only {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    button {
      position: absolute;
      top: 40%;
      left: 45%;
      width: 40px;
      height: 47px;
    }
    img {
      position: absolute;
      top: 38%;
      left: 47%;
      width: 37px;
      height: 49px;
      cursor: pointer;
    }
  }
  .small-vid-bod {
    display: flex;
    flex-direction: column;
    .small-vid-text {
      display: flex;
      flex-direction: column;
      p {
        margin-top: 30px;
        margin-bottom: 0;
        color: #000000;
        font-size: 2.2rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 1.38px;
        text-align: left;
        /* Text style for "Review" */
        font-style: normal;

        text-transform: uppercase;
      }
      h2 {
        margin-top: 10px;
        color: #000000;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 6rem;
        font-style: normal;
        letter-spacing: 1.5px;
        line-height: 55px;
        font-style: normal;
        text-transform: uppercase;
        margin-bottom: 50px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 1;
        text-align: left;
        @media screen and(min-width:1024px) and (max-width:1440px){
          font-size: 5rem;
        }
      }
      span {
        color: #2e2e2e;
        font-style: normal;
        line-height: 1.4;
        text-align: left;
        font-style: normal;
        margin-top: 0px;
        font-size: 2rem;
        font-weight: 500;
        font-stretch: normal;
        line-height: 1.36;
        letter-spacing: 0.28px;
      }
      a {
        margin-top: 10px;
        color: #a12224;
        font-family: 'Freight Sans Pro', system-ui;
        font-size: 2rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 1px;
        line-height: 35px;
        text-align: left;
        /* Text style for "Produkt sh" */
        font-style: normal;

        text-decoration: underline;
        text-transform: uppercase;
      }
    }
  }
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 110vh;
  }
}
