<<<<<<< HEAD
.mediatek__container {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  margin: 3rem 0;
  gap: 5rem;
  &__option {
    background-color: #000000;
    text-align: center;
    width: max-content;
    padding: .3rem .6rem;
    &--text {
      font-size: 1.9rem;
      color: #ffffff;
      text-transform: uppercase;
    }
=======
.row {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  .mediatek-options {
      width: unset;
    flex-grow: unset;
    padding: 2px 4px;
    background-color: #000;
    color: #fff;
    margin-left: 2%;
>>>>>>> 04a3525be177e81093e8b739a25dc8befd9ccc60
  }
}
