.payment-section-all{
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #000000;
  padding: 15px 0;
  .payment-section{
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    .payment-logos{
      justify-content: space-between;
    }
  }
}
.nav-footer-body{
  width: 100%;
  margin: 0 auto;
  background: #efefef;
  .footer-nav-all{
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    .footer-circled-bod{
      justify-content: space-evenly;
      padding: 10vh 0;
      .nav-top-items{
        flex-direction: column;
        align-items: center;
        p{
          color: #000000;
          font-family: "Freight Sans Pro";
          font-size: 1rem;
          font-weight: 500;
          font-style: normal;
          letter-spacing: 0.66px;
          line-height: 35px;
          text-align: center;
          /* Text style for "Gratis Rüc" */
          font-family: "Freight Sans Pro Bold - Regular";
          font-weight: 700;
          font-style: normal;
          /* Text style for ", Senden S" */
          font-style: normal;
        }
        .footer-circled-persons{
          width: 58px;
          height: 58px;
          border-radius: 50%;
          background: #000000;
          margin-bottom: 25px;
        }
      }
    }

  }
  .footer-navbar-all{
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    margin-bottom: 25px;
  }
  .footer-main-nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1 auto;
    position: relative;
    li{
      list-style: none;
      margin: 0 20px;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
    }
    a{
      display: inline-block;
      //height: 15px;
      color: #000000;
      font-family: "Freight Sans Pro";
      font-size: 1rem;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 0.9px;
      text-align: center;
      /* Text style for "PARFUM" */
      font-style: normal;
      letter-spacing: normal;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

}
.footer-logo{
  flex-direction: column;
  align-items: center;
  background: black;
  padding: 5vh 0;
  border-bottom: 3vh solid white;
  img{
    max-width:188px ;
    max-height: 46px;
  }
}