.herren-head-body{
    width: 100%;
    margin: 0 auto;
    .herren-head-left{
      display: flex;
      justify-content: flex-end;
      background-color: #000000;
      width: 90%;
      padding: 100px 0;
      .herren-head-left-body{
        width: 90%;

        p{
          color: #ffffff;
          font-family: "Freight Sans Pro";
          font-size: 1.1rem;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 1.38px;
          line-height: normal;
          text-transform: uppercase;
          margin: 0;
        }
        h2{
          color: #ffffff;
          font-family: "Freight Sans Pro";
          font-size: 4.5rem;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 3.6px;
          line-height: 80px;
          text-transform: uppercase;
          text-align: left;
        }
        button{
          background-color: #ffffff;
          border: none;
          color: #000000;
          font-family: "Freight Sans Pro";
          font-size: 1.5rem;
          padding: 10px;
          margin-top: 50px;
          font-weight: 500;
          font-style: normal;
          letter-spacing: 5px;
          line-height: normal;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  .herren-head-right{
    min-height: 55vh;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}