<<<<<<< HEAD
span {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}
=======
span{
    font-size:18px;
    letter-spacing: 2px;
    color: #000000;
}
>>>>>>> 04a3525be177e81093e8b739a25dc8befd9ccc60
