
@media only screen and(max-width: 1750px) {
  .products-filter-head-home{
    .filter-btns{
      width: 35% !important;
    }
  }
}
@media only screen and (max-width: 1420px){
  .prodbotbodall{
    button{
      width: 22%;
    }
  }
}

@media only screen and(max-width: 1260px) {
  .products-filter-head-home{
    .filter-btns{
      width: 45% !important;
    }
  }
}
@media only screen and(max-width: 1150px) {
  .products-filter-head-home{
    .filter-btns{
      width: 50% !important;
    }
  }
}
@media only screen and(max-width: 1607px) {
.video-body{
  position: relative;
  overflow: hidden;
  height: 55vh;
  margin-bottom: 10vh;
  p{

    top: 55%;
    left: 33vw
  }
}
}
@media only screen and(max-width: 1291px) {
  .video-body{
    position: relative;
    overflow: hidden;
    height: 55vh;
    margin-bottom: 10vh;
    p{

      top: 55%;
      left: 30%;
    }
  }
}

@media only screen and(max-width: 1190px) {
  .video-body{
    position: relative;
    overflow: hidden;
    height: 55vh;
    margin-bottom: 10vh;
    p{

      top: 55%;
      left: 28%;
    }
  }
}
@media only screen and(max-width: 1160px) {
  .prodbotbodall{
    button{
      width: 26%;
    }
  }
  .video-body{
    position: relative;
    overflow: hidden;
    height: 55vh;
    margin-bottom: 10vh;
    img{
      top: 45% !important;
    }
    p{

      top: 63% !important;
      left: 28%;
    }
  }
}
@media only screen and(max-width: 1090px) {
  .video-body{
    position: relative;
    overflow: hidden;
    height: 55vh;
    margin-bottom: 10vh;
    p{

      top: 55%;
      left: 26%;
    }
  }
}
@media only screen and(max-width: 1000px) {
  .video-body{
    position: relative;
    overflow: hidden;
    height: 55vh;
    margin-bottom: 10vh;
    p{

      top: 55%;
      left: 24%;
    }
  }
}
@media only screen and(max-width: 991px) {
  .forth{
    margin-top: 10vh;
  }
  .first-intro {
    .first-intro-body {
      .first-intro-bod-left {
        align-items: center;
        .intro-small-txt{
          text-align: center;
        }
        .intro-big-txt{
          text-align: center;
        }
      }
    }
  }

  .dpab-bottom-section-right{
    margin-top: 10vh;
  }

  .first-products-body{
    .firstprod-left-text{
      align-items: center;
      div{
        text-align: center;
      }
      p{
        text-align: center;
      }
      h2{
        text-align: center;
      }
      span{
        text-align: center;
      }
    }
  }
  .first-intro{
    margin: 0 auto;
    width: 90%;
    .first-intro-body{
      width: 100%;
    }
  }
  .video-body {
    position: relative;
    overflow: hidden;
    height: 55vh;
    margin-bottom: 10vh;

    p {

      top: 55%;
      left: 21%;
    }
  }
}
@media only screen and(max-width: 754px) {
  .forth {
    margin-top: 0;
  }
}


