@import "../layouts/header/header";
@import "../scenes/homepage/homepage";
@import "../layouts/footer/footer";
@import "../layouts/header/mediaheader";
@import "../scenes/homepage/mediahomepage";
@import "../scenes/login/login";
@import "../scenes/herren/herren";
@import "../scenes/herren/mediaherren";
@import "../layouts/loader/loader";
@import "../scenes/shop/shop";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}